.col-4
    a(href= product.link)
        img(src= product.image)
    p= product.description
    select#my-size
          option Small
          option Medium
          option Large
    button#my-button.btn-secondary.snipcart-add-item(
    data-item-id= product.id, 
    data-item-name= product.name, 
    data-item-price= product.price, 
    data-item-weight= product.weight, 
    data-item-url= product.url, 
    data-item-custom2-name='Size', 
    data-item-custom2-options='Small|Medium|Large',
    data-item-description= product.description) Ajouter pour #{product.price}$
