include ../public/includes/_header
//include ../public/includes/_mission
#artiste
     .container
            .row
                .col-12
                    a(href='')
                    h2 Qui sommes-nous ?
                    p Un organisme à but non-lucratif, fondé par de jeunes visionnaires, qui a pour objectif d'offrir des solutions saines et durables aux défis d’aujourd’hui. Par-dessus tout, nous sommes passionnés par notre mission de promouvoir une plante qui nous permet de reconnecter avec notre environnement. Notre vision est axée sur le développement durable, le vrai. Voici les trois axes qui composent notre philosophie. Dans le but premier que, tous ensemble, nous chanvrons le monde.

#artiste
     .container
            .row.center
                .col-12
                    blockquote Nous avons eu le coup de foudre pour cette plante à partir de l'instant où nous avons découvert son potentiel. Elle fait ressortir le meilleur de nous-même, nous permet de vivre plus sainement et de rétablir une harmonie avec notre environnement.
#environnement
     .container
            .row
                .col-12
                    a(href='')
                    h2 Populariser le chanvre
                    p Le monde d’aujourd’hui a besoin d’un coup de pouce du chanvre. C’est la plante la plus utile à l’homme. Que ce soit pour combattre l’industrie pétrochimique avec des alternatives écologiques, pour réduire la consommation agricole d’eau ou pour vivre dans un habitat plus sain, il est grand temps de repenser notre évolution. Le mandat de Chanvre Québec, c’est de sensibiliser la population au potentiel du chanvre industrielle. À travers des articles, des photos, des reportages vidéo et des entrevues. Votre support est apprécié, partagez le pouvoir du chanvre vous aussi, suivez-nous sur Facebook et Instagram!
                    .fb-like(data-href='https://www.facebook.com/jechanvre/', data-layout='standard', data-action='like', data-size='large', data-show-faces='true', data-share='false')

     .container
        .row
          .col-12.right
                    a(href='')
                    h2 Propulser des innovations en chanvre
                    p Tous <strong>les profits réalisés sont réinvestis</strong> pour permettre à des innovations en chanvre de voir le jour. Le chanvre a été prohibé pendant plus de 70 ans, il est donc normal qu’il y ait eu un important retard technologique et industriel dans ce domaine. C’est le temps de reprendre le temps perdu. L’objectif principal de Chanvre Québec est d’offrir de nouvelles solutions saines et durables aux défis d’aujourd’hui.

#don
    .container
        .row
            .col-12.center(style= "padding-top: 50px;")
                i.fa.fa-heart.fa-5x(aria-hidden="true")
                p(style="color: #F14E75;") 
                    | Bonjour, si tu es atterri ici c'est que toi aussi tu veux du changement comme nous!
                    br
                    | Nous avons besoin de ton aide, pour nous aider à offrir du contenu de qualité, offrir des produits uniques et bien plus encore! On t'invite à contribuer avec un don de 3$.
                div.center
                    button#my-button.don.center.snipcart-add-item(
                    data-item-id= "010", 
                    data-item-name= "don", 
                    data-item-price= "3.00", 
                    data-item-weight= "0",
                    data-item-taxes="TPS|TVQ",
                    data-item-url= "https://chanvrequebec.com/mission", 
                    data-item-custom1-name="générosité"
                    data-item-custom1-options="3$|5$[+2.00]|10$[+7.00]|20$[+17.00]|100$[+97.00]",
                    data-item-taxable= "false",
                    data-item-description= "Merci pour votre générosité!") Faire mon don
            .col-2.hidden
            .col-8.line(style= "background-color: #F14E75")
            .col-2.hidden
#calltoaction
    .container
            .row
                .col-12
                    a(href='')
                    h2 Promouvoir des produits locaux
                    p Nous sommes chanceux, le chanvre se cultive déjà abondamment au Québec et nous disposons de plusieurs artisans talentueux. C'est avec leur aide que nous souhaitons vous offrir des produits mieux adaptés à vos besoins réels. Il faut valoriser cette économie qui permet à des agriculteurs de cultiver une plante sans les conséquences des pesticides sur leur milieu de vie. Pour un Québec <strong>vert et prospère </strong>!

                    .center
                        a(href="artisans")
                            button.btn-secondary Découvrez les artisans


include ../public/includes/_footer