include ../public/includes/_header
//include ../public/includes/_mission
#artiste
     .container
            .row
                .col-12
                    a(href='')
                    h2 Qui sommes-nous ?
                    p Un organisme à but non-lucratif, fondé par de jeunes visionnaires, qui a pour objectif d'offrir des solutions saines et durables aux défis d’aujourd’hui. Par-dessus tout, nous sommes passionnées par notre mission de promouvoir une plante qui nous permet de reconnecter avec notre environnement. Notre vision est axé sur le développement durable, le vrai. Voici les trois axes qui composent notre philosophie. Dans le but premier que, tous ensemble, nous chanvrons le monde.
                .col
#artiste
     .container
            .row.center
                .col-12
                    a(href='')
                    blockquote Nous avons eu le coup de foudre pour cette jolie plante à partir de l'instant où nous avons découvert son potentiel. Elle fait ressortir le meilleur de nous-même, nous permet de vivre plus sainement et de rétablir une harmonie avec notre environnement.
#environnement
     .container
            .row
                .col-12
                    a(href='')
                    h2 Conscience environnementale
                    p Nos actions et nos façons de procéder sont en harmonie avec notre amour pour dame nature. C’est un privilège d’habiter sur cette Terre. Notre rêve, c’est que tous les produits nocifs qui nous entourent soient remplacés par le pouvoir d’une plante. L’éco-conception et <strong> l'innovation </strong>sont au coeur de notre stratégie pour y parvenir. Tous les produits qui se retrouvent dans notre site sont conçus avec un souci pour l’environnement. Nous avons choisi des boîtes durables en carton biodégradable en guise d'emballage pour nos produits alimentaires. Les vêtements sur le site seront toujours composés de chanvre et de coton biologique et les produits de soins corporels sont  entièrement issue du règne végétale.
 #economique
     .container
            .row
                .col-12.right
                    a(href='')
                    h2 Prosperité
                    p Pour avoir un impact significatif dans la vie des gens et de créer des richesses économiques dans notre environnement, il nous est impérial d’être rentables. Sans avoir pour objectif la profitabilité, la rentabilité demeure une contrainte primordiale à notre prospérité. La prospérité nous permet de mettre au point des innovations et de proposer des solutions <strong> saines</strong> et <strong> durables </strong>grâce au chanvre. 
#don
    .container
        .row
            .col-2.hidden
            .col-8.line(style= "background-color: #F14E75")
            .col-2.hidden
            .col-6.center(style= "padding-top: 50px;")
                i.fa.fa-heart.fa-5x(aria-hidden="true")
            .col-6.left
                p(style="color: #F14E75;") 
                    | Bonjour, si tu es atterit ici c'est que toi aussi tu veux du changement comme nous !
                    br
                    | Nous ne voulons pas dépendre des intérêts d'investiseurs ni favoriser quelques grosses marques.
                    br
                    | Donc nous avons besoin de ton aide collective. Pour nous aidez à en faire plus et t'offrir du meilleur contenu, des produits uniques et bien plus encore ! On t'invite à contribuer avec un don de 3$.
                div.center
                    button#my-button.don.center.snipcart-add-item(
                    data-item-id= "010", 
                    data-item-name= "don", 
                    data-item-price= "3.00", 
                    data-item-weight= "0",
                    data-item-taxes="TPS|TVQ",
                    data-item-url= "https://chanvrequebec.com", 
                    data-item-custom1-name="générosité"
                    data-item-custom1-options="3$|5$[+2.00]|10$[+7.00]|20$[+17.00]|100$[+97.00]",
                    data-item-taxable= "false",
                    data-item-description= "Merci pour votre générosité!") Faire mon don
            .col-2.hidden
            .col-8.line(style= "background-color: #F14E75")
            .col-2.hidden
#calltoaction
 .container
        .row
          .col-12
                    a(href='')
                    h2 Faire briller le Québec
                    p Ensemble, nous avons le pouvoir d’évoluer sur le plan collectif et de transformer pour le mieux nos habitudes de vie grâce au chanvre.  Heureusement pour nous, le chanvre se cultive déjà abondamment au Québec et nous avons des artisans hors pair. C'est avec leur aide que nous souhaitons vous offrir des produits mieux adaptés à vos besoins réels.

                    a(href="artisans").center
                        button.btn-secondary Découvrez les artisans


include ../public/includes/_footer