.col-4
    a(href= feuille.link)
        img(src= feuille.image)
    p= feuille.description
    button#my-button.btn-secondary.snipcart-add-item(
    data-item-id= feuille.id, 
    data-item-name= feuille.name, 
    data-item-price= feuille.price, 
    data-item-weight= feuille.weight, 
    data-item-url= feuille.url, 
    data-item-description= feuille.description) Ajouter pour #{feuille.price}$
