//#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://farm5.staticflickr.com/4257/34796802324_5f8feb915a_b.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://farm5.staticflickr.com/4257/34796802324_5f8feb915a_b.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                p.artiste-by par #{artiste}
                            h3.left #{price}$
                            p.left Lait hydratant pour vos sorties extérieures. Produit sans DEET et sans Citronnelle
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ", 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .col-10
                            h3.left La solution:
                            p.left Elle se distingue de tous les autres produits du genre offerts sur le marché par son odeur (sans citronnelle) ainsi que par sa texture lisse et non huileuse de lait hydratant. Outre son efficacité maintes fois prouvée, il a la particularité de très bien convenir à tous les types de peau.
                            ul.left
                                    li <strong>Géranium</strong>: équilibrante, stimulante & cicatrisante / antiseptique / astringente / éloigne les moustiques
                                    li <strong>Cataire:</strong> calmante / répulsif d'insectes
                                    li <strong>Lavande:</strong> réparatrice de la peau / calmante/ décontractant musculaire / anti-inflammatoire, cicatrisante / tonique
                                    li <strong>Menthe poivrée:</strong>  rafraîchissante / anti-infectieuse / bactéricide / tonique & stimulante
            .row.center
                    .col-12
                        .col-2.hidden
                        .col-2.hidden
                    .col-12
                        .col-6
                            h3 Note:
                            p Pour les bébés, mettre une petite quantité de façon à effleurer les vêtements (ex: chapeau) mais pas directement sur la peau.
                        .col-6
                            h3 Ingrédients:
                            p Huile de chanvre, huile de pepin de raisin, menthe poivrée, HE nepeta cataria, Geranium bio, lavande bio et cire d'abeilles.