#produitsfull
    include ../includes/_produit-header
    .container
            .row.center  
                    .col-8
                        img(src=image)
                        .row
                            .col-4
                                a(href="#img4")
                                    img(src= image)
                                a(href="#_" class="lightbox" id="img4")
                                    img(src= image)
                    .col-4
                        h2.left= name
                        a(href= artistelink, target='_blank')
                            p.artiste-by par #{artiste}
                        h3.left #{price}$
                        p.left= description
                        br
                        //input#my-quantity(type='number')
                        br
                        a(href= artistelink, target='_blank')
                          button.btn-secondary Voir sur chanvrevert
                        .col-12.center
                            .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                        br
                        p.left Remplie de bons acides gras essentiels, de vitamines, de minéraux et d’anti-oxydants, l’huile de chanvre aide au maintien d’un métabolisme stable chez votre cheval et favorise un système immunitaire plus fort, tout en améliorant sa vitalité. Ses bienfaits contribuent à l’obtention d’une robe brillante et de sabots sains.
                        h5.left Pour usage vétérinaire seulement chez les chevaux non destinés à la boucherie.
