#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://c1.staticflickr.com/4/3817/32469617594_f6fcbf3943_k.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://c1.staticflickr.com/4/3817/32469617594_f6fcbf3943_k.jpg")
                        .col-6
                            a(href="#img2")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img2")
                                img(src= image)
                        .col-6
                            a(href="#img3")
                                img(src= "https://c1.staticflickr.com/1/588/32292688150_9f153b5cdf_k.jpg")
                            a(href="#_" class="lightbox" id="img3")
                                img(src= "https://c1.staticflickr.com/1/588/32292688150_9f153b5cdf_k.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                p.artiste-by par #{artiste}
                            h3.left #{price}$
                            p.left Exotique, chaude, suave et aphrodisiaque... Que dire de plus?
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ", 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .center
                        .col-12
                            .col-2.hidden
                            .col-8.line
                            .col-2.hidden
                        .col-12
                            .col-6
                                h3 La solution:
                                p.left Une huile sèches à pénétration rapide composées à 70% d’huile de chanvre. Utilisée pour le massage, dans le bain ou pour hydrater le corps en application topique.
                                ul.left
                                    li Propriétés <strong>arôma-thérapeutiques</strong> des huiles essentielles.
                                    li Laisse la peau <strong>hydratée</strong> avec un fini satiné et non luisant
                            .col-6
                                h3 Liste d'ingrédients: 
                                ul.left 
                                    li Huile de chanvre bio
                                    li Huile de pépins de raisin
                                    li Huiles essentielles
                                    ul 
                                        li bois de santal
                                        li ylang ylang bio
                                        li gingembre bio
                                        li sauge bio
                                        li zeste d'orange douce bio
                                        li cyprès bio
                                p Indication: Conserver au frais
                        .col-12
                            .col-2.hidden
                            .col-8.line
                            .col-2.hidden
                        .col-12
                                p Vous ne pouvez pas vous tromper! Le produit ne vous satisfait pas? Retournez-le dans les trente jours et on vous le rembourse volontiers! 