#produitsfull
    include ../includes/_header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src="https://c1.staticflickr.com/6/5631/33157139372_666a56599b_k.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src="https://c1.staticflickr.com/6/5631/33157139372_666a56599b_k.jpg")
                        .col-6
                            a(href="#img2")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/anti-ride_3.jpg")
                            a(href="#_" class="lightbox" id="img2")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/anti-ride_3.jpg")
                        .col-6
                            a(href="#img3")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/anti-ride_2.jpg")
                            a(href="#_" class="lightbox" id="img3")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/anti-ride_2.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            h3.left #{price}$
                            p.left Doté d'une odeur enivrante de fleurs d'oranger et de bois de rose, ce soin ultra hydratant est un puissant allié quotidien pour la lutte au vieillissement de la peau.
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ", 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .col-12
                        .col-2.hidden
                        .col-8.line
                        .col-2.hidden
                    .center
                        .col-12
                                h3 La solution:
                                p Un concentré 100% végétal, riche en antioxydants, en acides gras essentielles (oméga3) et en vitamines E et K
                                p <strong>Neutralise</strong> les radicaux libres responsables du vieillissement de la peau et des taches brunes.
                                p <strong>Fournit</strong> à la peau ses composantes essentiels
                                p <strong>Apaise</strong> et soulage la peau tout en raffermissant les cellules fatiguées
                                h3 Liste d'ingrédients: 
                                ul.left 
                                    li huile de chanvre bio
                                    li huile d'avocat
                                    li huile de pépins de raisin
                                    li eau de fleurs d'oranger bio
                                    li aloès bio
                                    li huile essentielle de bois de rose bio
                                    li huile essentielle de pamplemousse bio
                                    li cire d'abeille.
                        .col-12
                            .col-2.hidden
                            .col-8.line
                            .col-2.hidden
                        .col-12
                            p Vous ne pouvez pas vous tromper! Le produit ne vous satisfait pas? Retournez-le dans les trente jours et on vous le rembourse volontiers!


                                
                                
                      
                                
