#produitsfull
    include ../includes/_header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            img(src= image)
                        .col-4
                            img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_1.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            h3.left #{price}$
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight= weight, 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                    .col-12.center
                            h3 La trousse de soins pour eczéma comprend: 
                            p.left
                                | <strong>Savon soin intensif eczéma</strong> 100g.: Un savon thérapeutique ultra doux à l'huile de chanvre, conçu spécialement pour les peaux affligées par l'eczéma, le psoriasis et aussi l'acné.
                                br
                                | <strong>Onguent de chanvre</strong> 25mL: Maintes fois éprouvés pour soulager rapidement les plaques d'eczéma. Cest une pommade efficace pour tous les troubles cutanés et les dermatites. Il arrête les démangeaisons, réduit l'inflammation et favorise la réparation des tissus.
                                br
                                | <strong>Huile soin intensif</strong> 50mL: Avec des propriétés similaires à l'onguent, cette formule est favorable pour couvrir de grandes surfaces et soulager l'eczéma et toutes autres démangeaisons.

                    .col-8
                        img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_2.jpg")
                    .col-4
                        img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_5.jpg")
    include ../includes/_footer