#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img1")
                                img(src= image)
                    .col-4
                        .col-12.center
                            h2.left= name
                            a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                p.artiste-by par #{artiste}
                            h3.left.promo #{price}$
                            p.left.old #{old}
                            p.left #{description}
                            p.left 225 mL
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ",
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .center
                        .col-12
                            .col-2.hidden
                            .col-8.line
                            .col-2.hidden
                        .col-12
                            .col-6
                                h3 Mode d'emploi:
                                p
                                    | À essayer directement sous la douche! On en prend une portion suffisante pour couvrir l'entièreté du visage.
                                    | On fait de <strong>petits cercles</strong> pour permettre à l'exfoliant de bien pénétrer les pores de la peau.
                                    | Rincez et appreciez la sensation <strong>d'hydratation</strong> et de <strong>douceur</strong> que l'exfoliant laisse sur la peau! <strong>100% naturel</strong> !
                            .col-6
                                h3 Ingrédients:
                                p Sucre de canne, huile de chanvre, huile de coco, beurre de cacao, beurre de karité, huiles essentiels, cire emulsifiante, alcohol, vitamine e naturelle
                        .col-12
                            .col-2.hidden
                            .col-8.line
                            .col-2.hidden 

