#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .jumbotron.fete-mere-container
        .container
                .row.center  
                        .col-8
                            .col-12
                                a(href="#img1")
                                    img(src= image)
                                a(href="#_" class="lightbox" id="img1")
                                    img(src= image)
                            .col-6
                                a(href="#img1")
                                    img(src= "https://c1.staticflickr.com/4/3817/32469617594_f6fcbf3943_k.jpg")
                                a(href="#_" class="lightbox" id="img1")
                                    img(src= "https://c1.staticflickr.com/4/3817/32469617594_f6fcbf3943_k.jpg") 
                            .col-6
                                a(href="#img1")
                                    img(src= 'https://c1.staticflickr.com/3/2864/32469617184_6649b791e3_k.jpg')
                                a(href="#_" class="lightbox" id="img1")
                                    img(src= 'https://c1.staticflickr.com/3/2864/32469617184_6649b791e3_k.jpg')
                        .col-4
                            .col-12.center
                                h2.left= name
                                a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                    p.artiste-by par #{artiste}
                                h3.left #{price}$
                                p.left #{description}
                                p.left 225 mL
                                button#my-button.btn-secondary.snipcart-add-item(
                                data-item-id= id, 
                                data-item-name= name, 
                                data-item-price= price, 
                                data-item-weight="0",
                                data-item-taxes="TPS|TVQ",
                                data-item-url= url,
                                data-item-description= description) Ajouter
                                .col-12.center
                                    .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
    .container
        .row
            .center
                .col-12
                    .col-2.hidden
                    .col-8.line
                    .col-2.hidden
                .col-12
                    .center
                        h3 Mode d'emploi:
                        a(href="/produits/exfoliant")
                            h4 L'exfolliant
                        p
                            | À essayer directement sous la douche! On en prend une portion suffisante pour couvrir l'entièreté du visage.
                            | On fait de <strong>petits cercles</strong> pour permettre à l'exfoliant de bien pénétrer les pores de la peau.
                            | Rincez et appreciez la sensation <strong>d'hydratation</strong> et de <strong>douceur</strong> que l'exfoliant laisse sur la peau! <strong>100% naturel</strong> !
                .col-6
                    .center
                        a(href="/produits/laitmaternite")
                            h4 Le lait corporel 
                        p Lait corporel qui convient à toutes les femmes et pour tous les types de peau. Il a été conçu pour la femme qui se soucie de l'élasticité de sa peau et  plus spécifiquement pour le bedon rond de la femme enceinte.
                .col-6
                    .center
                        a(href="/produits/chanvremoi")
                            h4 L'huile Chanvre-moi
                        p Des huiles sèches à pénétration rapide, composées de 70% d'huile de chanvre, utilisées pour le massage et pour hydrater le corps en application topique ou dans le bain et qui laissent la peau hydratée avec un fini satiné et non luisant.. Ces quatre formules hydratantes se distinguent par les propriétés arôma-thérapeutiques des huiles essentielles ajoutées.
                .col-12
                    .col-2.hidden
                    .col-8.line
                    .col-2.hidden 

