-
    var produits = {
    feteMeres : _.pick(public.produits._data,function(produit){
    return _.includes(produit.tag, 'fetemere');
    }),
    soinsCorps : _.pick(public.produits._data,function(produit){
    return _.includes(produit.category, 'soinscorps');
    }),
    textile: _.pick(public.produits._data,function(produit){
    return _.includes(produit.category, 'textile');
    })
    };
    var productData = _.pick(public.produits._data, function(item) {
        return !!item.id;
        });

#produits
    include ../includes/_header
    include ../includes/_description
    .jumbotron.fete-mere-container
        .container
            .row
                .col-12
                    h2(style="color: black;") Pour la fête des mères, on vous offre ces 3 produits à petit prix ! <a href="fete-mere"><span class="price">$69</span></a>
                for produit, slug in produits.feteMeres
                    include _produit-fetemere
                .col-12
                    .center
                        a(href="fete-mere")
                            button.btn-fetemere Voir l'offre
    #filtered-products.container
        .row.center
            .col-2.product__filter
                input.product__filter-search(
                type="text"
                placeholder="Rechercher"
                )
                ul
                    li.product__filter-item(
                    data-category="all"
                    )
                        a Tout
                    li.product__filter-item(
                    data-category="soinscorps"
                    )
                        a Soins corporels
                    li.product__filter-item(
                    data-category="textile"
                    )
                        a Textile
                    li.product__filter-item(
                    data-category="alimentaire"
                    )
                        a Alimentaire

            .col-10
                for produit, slug in productData
                    include _produit
