- var productData = _.pick(public.produits._data, function(item) {return !!item.id;});
-
    function getCategoryMetrics(category) {
        if(!category) {
            return;
        }
        var result;
        switch (category) {
            case 'all':
                result = _.keys(productData).length;
                break;
            default :
                result = _.filter(_.values(productData), function(datum) {
                    return datum.category === category;
                }).length;
                break;
        }
        return result;
    };
#produits
    include ../includes/_header
    include ../includes/_description
    #filtered-products.container
        .row.center
            .col-2.product__filter
                input.product__filter-search(
                type="text"
                placeholder="Rechercher")
                ul
                    li.product__filter-item(
                    data-category="all"
                    )
                        a
                            span Tout 
                            sup #{getCategoryMetrics('all')}
                    li.product__filter-item(
                    data-category="soinscorps"
                    )
                        a
                            span Soins corporels 
                            sup #{getCategoryMetrics('soinscorps')}
                    li.product__filter-item(
                    data-category="textile"
                    )
                        a
                            span Textile  
                            sup #{getCategoryMetrics('textile')}
                    li.product__filter-item(
                    data-category="alimentaire"
                    )
                        a
                            span Alimentaire 
                            sup #{getCategoryMetrics('alimentaire')}

            .col-10
                for produit, slug in productData
                    include _produit