#produitsfull
    include ../includes/_header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img1")
                                img(src= image)
                        .col-4
                            a(href="#img2")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img2")
                                img(src= image)
                        .col-4
                            a(href="#img3")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img3")
                                img(src= image)
                        .col-4
                            a(href="#img4")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img4")
                                img(src= image)
                    .col-4
                        .col-12.center
                            h2.left= name
                            h3.left #{price}$
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight= weight, 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')

                    .col-12
                            h3 La trousse maternité comprend: 
                            p.left
                                | <strong>Lait Maman & Bébé</strong> 150ml: Huile de chanvre, cire d'abeille et menthe poivrée 
                                br
                                | <strong>Onguent béké bobo</strong> 25ml: La version nourrisson de l'onguent de chanvre, pour bébé de 0 à 2 ans. Composée d'huiles végétales et d'une quantité homéopathique d'huiles essentielles, cette pommade aux multiples usages est totalement sécuritaire pour bébé. Soulagement de l'allaitement (mamelons crevassés), égratignures, dermatites et rougeurs du fessier. Convient parfaitement aux couches de coton.
                                br
                                | <strong>Savon douceur de bébé</strong> 100g: Un savon à base d'huile de chanvre et d'huile d'olive à l'odeur de mandarine et lavande. Conçu pour le nourrisson, il convient à tous ceux qui souhaitent sentir la douceur d'un bébé.

                    .col-12
                        img.big(src= "https://storage.googleapis.com/chanvrequebecphoto/soins_maman_2.jpg")