#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img1")
                                img(src= image)
                        .col-4
                            a(href="#img4")
                                img(src="https://farm5.staticflickr.com/4424/36450360214_8931b98387_z.jpg")
                            a(href="#_" class="lightbox" id="img4")
                                img(src="https://farm5.staticflickr.com/4424/36450360214_8931b98387_z.jpg")
                        .col-4
                            a(href="#img2")
                                img(src= "https://farm5.staticflickr.com/4345/36904397856_e3c366b3a4.jpg")
                            a(href="#_" class="lightbox" id="img2")
                                img(src= "https://farm5.staticflickr.com/4345/36904397856_e3c366b3a4.jpg")
                        .col-4
                            a(href="#img3")
                                img(src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e15/11005134_862362157135159_1160833443_n.jpg")
                            a(href="#_" class="lightbox" id="img3")
                                img(src="https://scontent-yyz1-1.cdninstagram.com/t51.2885-15/e15/11005134_862362157135159_1160833443_n.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                p.artiste-by par #{artiste} 
                            h3.left.promo #{price}$
                            p.left.old #{old}
                            p.left= description
                            br
                            select#my-size
                                  option Small
                                  option Medium
                                  option Large
                                  option X-Large
                            br
                            //input#my-quantity(type='number')
                            br
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ", 
                            data-item-url= url, 
                            data-item-quantity="1",
                            data-item-custom2-name='Size', 
                            data-item-custom2-options= customoption,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .center
                        .col-12.line 
                        .col-12
                                h3.left L'histoire:
                                p.left Le logo à l'endos tire son origine du verset de la Bible Ésaïe 41:18 <strong> Je ferai jaillir des fleuves sur les collines, Et des sources au milieu des vallées; Je changerai le désert en étang, Et la terre aride en courants d'eau; </strong>. C'est une référence inspirante compte tenu que le chanvre requiert nettement moins d'eau que le cotton pour être produit. C'est l'idée que le chanvre pourrait contribuer à la prosperité du monde en entier, même dans les endroits arides. 
                    
                    //.col-8
                            img.big(src= "https://storage.googleapis.com/chanvrequebecphoto/IMG_1350.JPG")
