#produitsfull
    include ../includes/_header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_2.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_2.jpg")
                        .col-6
                            a(href="#img2")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img2")
                                img(src= image)
                        .col-6
                            a(href="#img3")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_5.jpg")
                            a(href="#_" class="lightbox" id="img3")
                                img(src= "https://storage.googleapis.com/chanvrequebecphoto/polysporin_5.jpg")
                    .col-4
                        .col-12.center
                            h2.left= name
                            h3.left #{price}$
                            p.left Huile de chanvre + Hélichryse Italienne, le duo par excellence. 
                            p.left 25 mL
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight="0",
                            data-item-taxes="TPS|TVQ", 
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                            br
                    .col-8.line
                    .col-10
                            h3.left La solution:
                            p.left Combinée avec des huiles essentielles thérapeutiques appropriées, l'huile de chanvre est l'alternative végétale par excellence pour les symptômes de l'eczéma et du psoriasis et autres dermatites ou troubles cutanés.
                            p.left
                                | <strong>Soulage</strong> les démangeaisons.
                                br
                                |<strong>Réduit</strong> l'inflammation & rougeurs
                                br
                                |<strong>Aide</strong> la régénérescence et répare les tissus
                                br
                                |<strong>Soulage</strong> brûlures / coupûres / piqûres d'insectes
                                br                            
                        .col-8.line.right
                            p.left
                                | Vous ne pouvez pas vous tromper! Le produit ne vous satisfait pas? Retournez-le dans les trente jours et on vous le rembourse volontiers! 