#produitsfull
    include ../includes/_produit-header
    //include ../includes/_description
    .container
            .row.center  
                    .col-8
                        .col-12
                            a(href="#img1")
                                img(src= "https://c1.staticflickr.com/1/649/32469615764_3def07790a_k.jpg")
                            a(href="#_" class="lightbox" id="img1")
                                img(src= "https://c1.staticflickr.com/1/649/32469615764_3def07790a_k.jpg")
                        .col-6
                            a(href="#img2")
                                img(src= image)
                            a(href="#_" class="lightbox" id="img2")
                                img(src= image)
                    .col-4
                        .col-12.center
                            h2.left= name
                            a(href="https://www.chanvrequebec.com/#{ artistelink }")
                                p.artiste-by par #{artiste}
                            h3.left #{price}$
                            p.left Concentré 100% végétal à la texture lisse et soyeuse, riche en antioxydants et en nutriments essentiels.
                            button#my-button.btn-secondary.snipcart-add-item(
                            data-item-id= id, 
                            data-item-name= name, 
                            data-item-price= price, 
                            data-item-weight= weight,
                            data-item-taxes="TPS|TVQ",
                            data-item-url= url,
                            data-item-description= description) Ajouter
                            .col-12.center
                                .fb-like(data-href='https://www.chanvrequebec.com/#{ link }', data-layout='button_count', data-action='like', data-size='small', data-show-faces='true', data-share='true')
                    .center
                        .col-12.line 
                        .col-12
                                h3 Bienfaits:
                                ul.left
                                    li <strong>Neutralise</strong> les radicaux libres responsables du vieillissement de la peau et des taches brunes.
                                    li <strong> Atténue</strong> les rougeurs des peaux sensibles
                                    li <strong>Redonne</strong> de l'éclat et de la radiance au teint tout en raffermissant les cellules fatiguées.
                                h3 Ingrédients & indication
                                ul.left  
                                    li Formule composée de sublimes huiles végétales (chanvre, rose musquée et avocat) et d'un complexe d'huiles essentielles précieuses (néroli, hélichryse italienne et geranium rosa).
                                    li Appliquez-le par effleurages légers sur le visage et le cou nettoyés
                        .col-2.hidden
                        .col-8.line
                        .col-2.hidden
                        .col-12
                                p Vous ne pouvez pas vous tromper! Le produit ne vous satisfait pas? Retournez-le dans les trente jours et on vous le rembourse volontiers!
