#blog
    .container
        .row
            .col-12
                .fb-share-button(data-href='https://chanvrequebec.com/#{ link }', data-layout='button_count')
                h1= headline
                p.auteur #{auteur}
                p.tag #{tags}
                time(datetime='#{date}') #{date2}
                h2 #{description}
                
                