#blog
    .container
        .row
            .col-12
                //a(href='https://www.facebook.com/sharer.php?u=https://chanvrequebec.com/#{ link }', target='_blank', rel='noopener nofollow', aria-label='Share on Facebook')
                .fb-share-button(data-href='https://chanvrequebec.com/#{ link }', data-layout='button_count')
                h2= headline
                p #{date}, #{category}
                p #{description}
                
                