#don
    .container
        .row
            .col-2.hidden
            .col-8.line(style= "background-color: #F14E75")
            .col-2.hidden
            .col-6.center(style= "padding-top: 50px;")
                i.fa.fa-heart.fa-5x(aria-hidden="true")
            .col-6.left
                p(style="color: #F14E75;") 
                    | Bonjour, si tu es atterit ici c'est que toi aussi tu veux du changement comme nous !
                    br
                    | Nous ne voulons pas dépendre des intérêts d'investiseurs ni favoriser quelques grosses marques.
                    br
                    | Donc nous avons besoin de ton aide collective. Pour nous aidez à en faire plus et t'offrir du meilleur contenu, des produits uniques et bien plus encore ! On t'invite à contribuer avec un don de 3$.
                div.center
                    button#my-button.don.center.snipcart-add-item(
                    data-item-id= "010", 
                    data-item-name= "don", 
                    data-item-price= "3.00", 
                    data-item-weight= "0", 
                    data-item-url= "https://chanvrequebec.com", 
                    data-item-custom1-name="générosité"
                    data-item-custom1-options="3$|5$[+2.00]|10$[+7.00]|20$[+17.00]|100$[+97.00]",
                    data-item-taxable= "false",
                    data-item-description= "Merci pour votre générosité!") Faire mon don
            .col-2.hidden
            .col-8.line(style= "background-color: #F14E75")
            .col-2.hidden